<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nicebarx13_DocFiles</key>
	<dict>
		<key>sk_PreferenceSetting</key>
		<dict>
			<key>ya7yajb</key>
			<dict>
				<key>ps_checkupdate</key>
				<true/>
				<key>ps_compatible</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>sk_BatterySetting</key>
	<dict>
		<key>batterypoint</key>
		<string>{21.875411987304688, 20.957616806030273}</string>
		<key>batterypointon</key>
		<true/>
		<key>batteryscale1</key>
		<real>84.934494018554688</real>
		<key>batteryscaleon</key>
		<true/>
		<key>bt_bodycolor</key>
		<string>#0,#0,#0,#0</string>
		<key>bt_dt_Alignment</key>
		<integer>1</integer>
		<key>bt_dt_alpha</key>
		<integer>0</integer>
		<key>bt_dt_backgroundcolor</key>
		<string>#CDCDCD</string>
		<key>bt_dt_enable</key>
		<false/>
		<key>bt_dt_linespace</key>
		<integer>-1</integer>
		<key>bt_dt_text</key>
		<string>(text=Current:dqdl,size=10,weight=7)(text=Power:cdgl,charging=1,size=10,weight=7)</string>
		<key>bt_enable</key>
		<true/>
		<key>bt_fillcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>bt_hideccpercent</key>
		<false/>
		<key>bt_hidechargeicon</key>
		<true/>
		<key>bt_hidepercent</key>
		<false/>
		<key>bt_kbbodycolor</key>
		<false/>
		<key>bt_newmodel</key>
		<integer>0</integer>
		<key>bt_useoriginbatteryincc</key>
		<false/>
		<key>btdtframe</key>
		<string>{{291,31}, {75, 20}}</string>
		<key>bticonoffset</key>
		<string>{0,0}</string>
		<key>bticonoffseton</key>
		<false/>
		<key>bticonscale</key>
		<string>{{1.0,1.0},{100, 0}}</string>
		<key>bticonscalecc</key>
		<string>{{1.0,1.0},{100, 0}}</string>
		<key>bticonscaleon</key>
		<false/>
		<key>btmd1_Prefix</key>
		<string></string>
		<key>btmd1_Suffix</key>
		<string></string>
		<key>btmd1_aliment</key>
		<integer>1</integer>
		<key>btmd1_fontbcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>btmd1_fontbsize</key>
		<integer>1</integer>
		<key>btmd1_fontcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>btmd1_fontsize</key>
		<integer>0</integer>
		<key>btmd1_iconcoloradp</key>
		<false/>
		<key>btmd1_iconmode</key>
		<integer>2</integer>
		<key>btmd1_iconpath</key>
		<dict>
			<key>cg_higher</key>
			<string>Color_BatteryChargingInsides_</string>
			<key>cg_lower</key>
			<string>Color_BatteryChargingInsides_</string>
			<key>file</key>
			<string>Y-Bett.Circle</string>
			<key>nm_higher</key>
			<string>Color_BatteryDrainingInsides_</string>
			<key>nm_lower</key>
			<string>Color_BatteryDrainingInsides_</string>
		</dict>
		<key>btmd1_iconrangle</key>
		<integer>0</integer>
		<key>btmd1textframe</key>
		<string>{{-75, 15}, {45, 15}}</string>
		<key>btmd2_circlenoborder</key>
		<false/>
		<key>btmd2_circlenum</key>
		<real>5.5</real>
		<key>btmd2_fontbcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>btmd2_fontbsize</key>
		<integer>1</integer>
		<key>btmd2_fontcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>btmd2_fontsize</key>
		<integer>7</integer>
		<key>btmd2_hidefilllayer</key>
		<true/>
		<key>btmd2_use_circle</key>
		<false/>
		<key>btmd3_fontbcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>btmd3_fontbsize</key>
		<real>1.5</real>
		<key>btmd3_fontcolor</key>
		<string>#0,#0,#0,#0</string>
		<key>btmd3_fontsize</key>
		<integer>11</integer>
		<key>btmd3textframe</key>
		<string>{{15,0}, {70, 20}}</string>
		<key>hide_dcmodeset</key>
		<false/>
		<key>textframeincc1</key>
		<string>{{0,0}, {11, 100}}</string>
		<key>textframeinccon</key>
		<false/>
	</dict>
	<key>sk_IConsSetting</key>
	<dict>
		<key>apoffsety</key>
		<integer>0</integer>
		<key>apoffsetyon</key>
		<false/>
		<key>cellularcolor2</key>
		<string>#FF0000,#FFA500,#00FF00,#1E90FF</string>
		<key>cellulariconAdapt2</key>
		<true/>
		<key>cellularicons</key>
		<string>Ya_call18</string>
		<key>cellularicons2</key>
		<string>Ya_call20</string>
		<key>cellularpoint</key>
		<string>{90.139411926269531, 22.75086784362793}</string>
		<key>cellularpointon</key>
		<true/>
		<key>cellularscale</key>
		<string>{{1.0,1.0},{100.0, 0}}</string>
		<key>cellularscale2</key>
		<string>{{1, 4.5}, {100, 0}}</string>
		<key>cellularscale2on</key>
		<true/>
		<key>cellularscalemode</key>
		<integer>1</integer>
		<key>cellularstyle</key>
		<integer>1</integer>
		<key>cellularstyle2</key>
		<integer>2</integer>
		<key>customsim2pson</key>
		<true/>
		<key>customsime2on</key>
		<true/>
		<key>disableiconalpha</key>
		<real>33.365947723388672</real>
		<key>hide_modeset</key>
		<false/>
		<key>hotspotpoint</key>
		<string>{360,22}</string>
		<key>hotspotpointon</key>
		<false/>
		<key>nettypepoint</key>
		<string>{67.337371826171875, 22}</string>
		<key>nettypepointon</key>
		<true/>
		<key>nettypescale</key>
		<string>{{1.0,1.0},{100.0, 0}}</string>
		<key>nettypescaleon</key>
		<false/>
		<key>networkmode</key>
		<integer>1</integer>
		<key>networkmodeicons</key>
		<string>kupord</string>
		<key>npfontsize</key>
		<integer>16</integer>
		<key>npfontsizeon</key>
		<false/>
		<key>nticoncolor</key>
		<string>#CDCDCD</string>
		<key>nticoncolortype</key>
		<integer>1</integer>
		<key>showdisableicons</key>
		<true/>
		<key>sim2point</key>
		<string>{-45.604129791259766, -6.4013910293579102}</string>
		<key>sysicomframe</key>
		<string>{{11.757336616516113, 34.028705596923828}, {414, 13.65280818939209}}</string>
		<key>sysiconscale</key>
		<string>{{1.0,1.0},{30, 0}}</string>
		<key>sysiconscaleon</key>
		<false/>
		<key>tb_Cellular_colorvalue</key>
		<string>#FF0000,#FFA500,#00FF00,#1E90FF</string>
		<key>tb_Cellular_enable</key>
		<true/>
		<key>tb_CellulariconAdapt_enable</key>
		<true/>
		<key>tb_Wifi_colorvalue</key>
		<string>#FF0000,#FFA500,#00FF00,#1E90FF</string>
		<key>tb_Wifi_enable</key>
		<true/>
		<key>tb_Wifi_mode</key>
		<integer>1</integer>
		<key>tb_networktype_Format</key>
		<string>(text=4G+,replace=4G,size=13,weight=6)(text=3G+,replace=3G,size=13,weight=6)(text=2G+,replace=2G,size=13,weight=6)</string>
		<key>tb_servername</key>
		<string></string>
		<key>tb_servername2</key>
		<string></string>
		<key>tb_servername2_enable</key>
		<false/>
		<key>tb_servername_enable</key>
		<false/>
		<key>tb_sysicom_alignment</key>
		<integer>0</integer>
		<key>tb_sysicom_alpha</key>
		<integer>0</integer>
		<key>tb_sysicom_autochange</key>
		<true/>
		<key>tb_sysicom_backgroundcolor</key>
		<string>#CDCDCD</string>
		<key>tb_sysicom_btlvtocolor</key>
		<false/>
		<key>tb_sysicom_code</key>
		<string>(text=rotationlock,prefix=     )(text=bluetooth,prefix=   )(text=alarm,prefix=   )(text=location,prefix=   )(text=mute,prefix=   ) (text=bluetoothreceiver,prefix=   )(text= btpower%,size=7)</string>
		<key>tb_sysicom_enable</key>
		<true/>
		<key>tb_sysicom_linespace</key>
		<integer>-1</integer>
		<key>tb_sysicom_mradius</key>
		<integer>0</integer>
		<key>tb_sysicon_iconspath_2</key>
		<string>SYS-圆形单色</string>
		<key>tb_wifiiconAdapt_enable</key>
		<true/>
		<key>wifiicons</key>
		<string>Ya_wif19</string>
		<key>wifipoint</key>
		<string>{66.624786376953125, 22}</string>
		<key>wifipointon</key>
		<true/>
		<key>wifiscale</key>
		<string>{{1.0,1.0},{100.0, 0}}</string>
		<key>wifiscalemode</key>
		<integer>1</integer>
	</dict>
	<key>sk_NiceToolSetting</key>
	<dict>
		<key>btwindowstyle</key>
		<integer>0</integer>
		<key>longpresshsbt</key>
		<integer>0</integer>
		<key>ntl_clicklockscreen</key>
		<integer>2</integer>
		<key>ntl_clickunlockscreen</key>
		<true/>
		<key>ntl_dockalphazero</key>
		<false/>
		<key>ntl_doubleclickbt</key>
		<integer>0</integer>
		<key>ntl_fdalpzero</key>
		<false/>
		<key>ntl_hidebackapp</key>
		<true/>
		<key>ntl_hidebtmbar</key>
		<false/>
		<key>ntl_hidelockscreenrtbar</key>
		<false/>
		<key>ntl_longpressbt</key>
		<integer>0</integer>
		<key>ntl_savemodel</key>
		<integer>0</integer>
		<key>ntl_singleclickbt</key>
		<integer>1</integer>
	</dict>
	<key>sk_OtherMoudlesSetting</key>
	<dict>
		<key>appicomframe</key>
		<string>{{0, 26.352943420410156}, {414, 25.113975524902344}}</string>
		<key>appicon_alignment</key>
		<integer>1</integer>
		<key>appicon_alpha</key>
		<integer>0</integer>
		<key>appicon_backgroundcolor</key>
		<string>#CDCDCD</string>
		<key>appicon_mradius</key>
		<integer>0</integer>
		<key>appiconlist</key>
		<array>
			<string>com.facebook.Facebook</string>
			<string>com.burbn.instagram</string>
			<string>com.yourcompany.PPClient</string>
			<string>com.toyopagroup.picaboo</string>
			<string>com.atebits.Tweetie2</string>
			<string>com.tapbots.Tweetbot4</string>
			<string>com.apple.MobileSMS</string>
			<string>com.apple.mobilephone</string>
			<string>ph.telegra.Telegraph</string>
			<string>net.whatsapp.WhatsApp</string>
		</array>
		<key>appiconscale2</key>
		<real>23.997671127319336</real>
		<key>appiconsenable</key>
		<true/>
		<key>apscountinway</key>
		<integer>2</integer>
		<key>apscountscale</key>
		<integer>35</integer>
		<key>apscountsize</key>
		<string>{10, 2}</string>
		<key>badgeviewps</key>
		<integer>0</integer>
		<key>hideifnomsg</key>
		<true/>
		<key>iconclickenable</key>
		<true/>
		<key>iconlinespace</key>
		<real>11.734707832336426</real>
		<key>iconvvshow</key>
		<false/>
	</dict>
	<key>sk_SpeedBarSetting</key>
	<dict>
		<key>sp_Prefix</key>
		<string></string>
		<key>sp_enable</key>
		<false/>
		<key>sp_mode</key>
		<integer>0</integer>
		<key>sp_mode1_alpha</key>
		<integer>0</integer>
		<key>sp_mode1_fontAlignment</key>
		<integer>1</integer>
		<key>sp_mode1_fontbcolor</key>
		<string></string>
		<key>sp_mode1_fontbold</key>
		<false/>
		<key>sp_mode1_fontbsize</key>
		<real>1.5</real>
		<key>sp_mode1_fontcolor</key>
		<string></string>
		<key>sp_mode1_fontsize</key>
		<real>8.5086946487426758</real>
		<key>sp_mode1_hideifzero</key>
		<false/>
		<key>sp_mode1_mclolor</key>
		<string>#CDCDCD</string>
		<key>sp_mode1_mradius</key>
		<integer>6</integer>
		<key>sp_mode2_alpha</key>
		<integer>0</integer>
		<key>sp_mode2_fontAlignment</key>
		<integer>1</integer>
		<key>sp_mode2_fontbcolor</key>
		<string></string>
		<key>sp_mode2_fontbold</key>
		<true/>
		<key>sp_mode2_fontbsize</key>
		<real>1.5</real>
		<key>sp_mode2_fontcolor</key>
		<string></string>
		<key>sp_mode2_fontsize</key>
		<integer>12</integer>
		<key>sp_mode2_hideifzero</key>
		<false/>
		<key>sp_mode2_mclolor</key>
		<string>#CDCDCD</string>
		<key>sp_mode2_mradius</key>
		<integer>6</integer>
		<key>sp_uploadshow</key>
		<false/>
		<key>sp_uploadshow_ls</key>
		<integer>-1</integer>
		<key>sp_uploadshow_vs</key>
		<false/>
		<key>spmode1frame</key>
		<string>{{113.65404510498047, 36.429088592529297}, {173.552978515625, 12.74864673614502}}</string>
		<key>spmode2frame</key>
		<string>{{300,15}, {60, 15}}</string>
	</dict>
	<key>sk_StatusBarContent</key>
	<dict>
		<key>scAlignment</key>
		<integer>0</integer>
		<key>sc_alpha</key>
		<integer>0</integer>
		<key>sc_backgroundcolor</key>
		<string>#CDCDCD</string>
		<key>sc_tq_changeicon</key>
		<true/>
		<key>sc_tq_content</key>
		<string>(text=tq_wd_now°,size=10,weight=7,offsety=0)(text=tq_icon,color=0/#9CD964)(text=tq_city,size=10,weight=7,offsety=0)</string>
		<key>sc_tq_enable</key>
		<true/>
		<key>sc_tq_freshenbyclick</key>
		<false/>
		<key>sc_tq_sec</key>
		<integer>15</integer>
		<key>sc_tq_showqx</key>
		<true/>
		<key>sclinespace</key>
		<integer>-1</integer>
		<key>weatherframe</key>
		<string>{{313.17214965820312, 31.778568267822266}, {0, 15}}</string>
		<key>weathericons</key>
		<string>Default</string>
		<key>weatheroffsety</key>
		<real>-6.4864864349365234</real>
		<key>weatherradius</key>
		<integer>0</integer>
		<key>weatherscale</key>
		<string>{{1, 1}, {24.743331909179688, 0}}</string>
		<key>weatherscaleon</key>
		<true/>
	</dict>
	<key>sk_TimeSetting</key>
	<dict>
		<key>Time_Enable</key>
		<true/>
		<key>Time_frashsec</key>
		<false/>
		<key>Time_showlcicon</key>
		<false/>
		<key>Time_showlocked</key>
		<false/>
		<key>Time_showwactivity</key>
		<true/>
		<key>hide_modeset</key>
		<false/>
		<key>timeAlignment</key>
		<integer>1</integer>
		<key>timeFormat</key>
		<string>(text=h:mm,size=18,weight=6)/n(text=MM/dd EEEE,size=12,weight=6)</string>
		<key>timefontstyle</key>
		<integer>1</integer>
		<key>timeframe</key>
		<string>{{314.59725952148438, 1.9896221160888672}, {80, 35.000076293945312}}</string>
		<key>timelinespace</key>
		<real>12.025179862976074</real>
		<key>timelocaleon</key>
		<true/>
		<key>timelocaletext</key>
		<string>ar_AE</string>
		<key>tm_activity_point</key>
		<string>380,10</string>
		<key>tm_activity_size</key>
		<string>10,10</string>
		<key>tm_indicator_point</key>
		<string>70,20</string>
		<key>tm_indicator_size</key>
		<string>8.5,8.5</string>
		<key>tm_mode_alpha</key>
		<integer>0</integer>
		<key>tm_mode_mclolor</key>
		<string>#CDCDCD</string>
		<key>tm_mode_mradius</key>
		<integer>0</integer>
		<key>weekdayenable</key>
		<false/>
		<key>weekdaysymbols</key>
		<string>Sun,Mon,Tue,Wed,Thu,Fri,Sat</string>
	</dict>
</dict>
</plist>
